{% extends "base.html" %}

{% block content %}
<div class="d-flex flex-column align-items-center" style="min-height: 80vh; padding: 50px 0; gap: 15px;">

  <!-- Блок с информацией о комнате -->
  <div class="card p-3 shadow" style="width: 350px;">
    <h3 class="card-title mb-2 text-center">Комната «{{ room.name }}»</h3>
    <div class="room-info" style="text-align: left; line-height: 0.5; font-size: 1rem;">
      <p><b>ID комнаты:</b> {{ room.id }}</p>
      <p><b>Количество участников:</b> {{ count_participants }} из {{ room.count_participants }}</p>
      <p><b>Участники:</b> {% for participant in participants %}{{ participant.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
      <p><b>Жанры:</b> {% for genre in room.genres.all %}{{ genre.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
      <p><b>Годы релиза:</b> {% if room.year_start < room.year_end %}{{ room.year_start }} - {{ room.year_end }}
         {% elif room.year_start > room.year_end %}{{ room.year_end }} - {{ room.year_start }}
         {% else %}{{ room.year_start }}{% endif %}</p>
      <p><b>18+:</b> {% if room.adult %}Да{% else %}Нет{% endif %}</p>
      <p><b>Рейтинг:</b> от {{ room.vote_average }}</p>
    </div>
  </div>

  <!-- Блок с фильмом -->
  <div class="card p-3 shadow" style="width: 480px;">
    <!-- Название и постер по центру -->
    <div class="text-center mb-2">
      <h4 class="mb-2">Выбран фильм «{{ movie.title }}»</h4>
      <img src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}" alt="Постер фильма"
           class="poster img-fluid" style="max-width: 400px; max-height: 100%; width: auto; height: auto;">
    </div>

    <!-- Информация о фильме слева -->
    <div class="movie-info mb-2" style="text-align: left; line-height: 0.5; font-size: 1rem;">
      <p style="line-height: 1;"><b>Жанр:</b> {% for genre in movie.genres.all %}{{ genre.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
      <p><b>Дата релиза:</b> {{ movie.release_date }}</p>
      <p><b>18+:</b> {% if movie.adult %}Да{% else %}Нет{% endif %}</p>
      <p><b>Рейтинг:</b> {{ movie.vote_average }}</p>
        {% if movie.overview %}<p><b>Описание:</b></p><p style="line-height: 1;">{{ movie.overview }}</p>{% endif %}
    </div>
  </div>

</div>
{% endblock %}