{% extends "base.html" %}

{% block content %}
<div class="container text-start">
  <p class="lead">
  <p><b>WatchMatch</b> — это сервис, который помогает компаниям быстро и без споров решить главный вопрос любого вечера: что посмотреть.</p>
  <p>Многие сталкивались с ситуацией, когда выбор фильма превращается в долгие обсуждения, бесконечный скроллинг и потерю времени. WatchMatch решает эту проблему, превращая процесс выбора в простой, быстрый и увлекательный формат совместного принятия решения.</p>
  <p>Сервис работает через комнаты: пользователь создаёт комнату и приглашает друзей, после чего участники просматривают карточки фильмов и отмечают понравившиеся варианты. Когда предпочтения совпадают, появляется матч — фильм, который устроил всех участников.</p>
  <p>Важно понимать, что WatchMatch не является платформой для просмотра контента. Его задача — помочь компаниям принять решение и упростить выбор, сделав его частью развлечения.</p>
  <b>Основные возможности:</b>
  <ul>
    <li>создание приватных комнат
    <li>совместный выбор фильмов в игровом формате
    <li>быстрый поиск совпадений предпочтений
    <li>минималистичный и понятный интерфейс
    <li>превращение выбора фильма в совместный опыт
  </ul>
  <b>WatchMatch отлично подходит для:</b>
  <ul>
    <li>вечеров с друзьями
    <li>свиданий
    <li>семейных просмотров
    <li>онлайн-созвонов
    <li>ситуаций, когда сложно договориться
  </ul>
  <b>О разработчике</b>
  <p>Проект создаётся как pet-project разработчиком Кремешным Романом.
    WatchMatch появился из личного опыта — частых ситуаций,
    когда выбор фильма в компании занимал больше времени, чем сам просмотр.</p>
  <p>Роман развивает проект как эксперимент в backend-разработке и продуктовой логике, уделяя внимание:</p>
  <ul>
    <li>удобству пользовательского опыта
    <li>простоте интерфейса
    <li>реалистичным сценариям использования
    <li>постепенному развитию функциональности
    <li>практическому применению технологий веб-разработки
  </ul>
  <p>Главная цель проекта — превратить выбор фильма из проблемы в совместное развлечение и создать сервис,
    который действительно решает повседневную задачу пользователей.</p>
  </p>
</div>
{% endblock %}