{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1 class="mb-4">Добро пожаловать в WatchMatch!</h1>
  <p class="lead">
    Собирайте друзей, создавайте комнаты и решайте вместе, что посмотреть!
    WatchMatch делает процесс выбора простым и веселым — больше никаких долгих поисков,
    только совместное удовольствие и отличное настроение!
  </p>
  {% if user.is_authenticated %}
    <a href="{% url 'rooms:create_room' %}" class="btn btn-primary btn-lg mt-3">Создать комнату</a>
    <a href="{% url 'rooms:join_room' %}" class="btn btn-primary btn-lg mt-3">Подключиться к комнате</a>
  {% else %}
    <a href="{% url 'users:registration' %}" class="btn btn-primary btn-lg mt-3">Регистрация</a>
  {% endif %}
</div>
{% endblock %}