{% extends "base.html" %}

{% block content %}
<div class="container">
  <br>
  <h1 class="mb-4">{{ movie.title }}</h1>
  <div class="poster-container">
    <img src="{{ movie.poster_path }}" alt="Постер фильма" class="poster">
  </div>
  <p class="lead">
    <b>Оригинальное название:</b> {{ movie.original_title }}<br>
    <b>Жанр:</b> {% for genre in movie.genres.all %}{{ genre.name }}{% if not forloop.last %}, {% endif %}{% endfor %}<br>
    <b>Дата релиза:</b> {{ movie.release_date }}<br>
    <b>18+:</b> {% if movie.adult %}Да{% else %}Нет{% endif %}<br>
    <b>Рейтинг:</b> {{ movie.vote_average }}<br>
    {% if movie.overview %}<b>Описание:</b> {{ movie.overview }}<br>{% endif %}
    <br>
  </p>
</div>
{% endblock %}